.img-box {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
}

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.img-box {
  position: relative;
  overflow: hidden;
  animation: popIn 1.5s ease-in-out forwards;
}

.img-box img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 8px;
}


.img-box:hover img {
  transform: scale(1.3);
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.grid-wrapper {
  columns: 4;
  column-gap: 15px;
}

@media (max-width: 768px) {
  .grid-wrapper {
    columns: 3;
  }
}

@media (max-width: 320px) {
  .grid-wrapper {
    columns: 2;
  }
}