.unique-hero-section {
  position: relative;
  overflow: hidden;
}

.unique-hero-image {
  width: 100%;
  height: 564px; /* Initial height for desktop */
  object-fit: cover;
}

.unique-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  animation: floatText 5s linear forwards; /* Adjust animation duration as needed */
}

@keyframes floatText {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .unique-hero-image {
    height: 300px; /* Adjust height for mobile */
  }

  .unique-hero-text {
    font-size: 24px; 
    top: 0px;/* Adjust font size for mobile */
  }
}
@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 4.5rem;
    font-weight: bold;
  }
}
.unique-card {
  perspective: 1000px;
  margin-left: 20px; 
  border: 1px solid white;
  border-radius: 10px;
}

.unique-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.unique-card:hover .unique-card-inner {
  transform: rotateY(180deg);
}

.unique-card-front,
.unique-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.unique-card-back {
  transform: rotateY(180deg);
}

.unique-card-body {
  background-color: black !important;
  height: 320px;
  color: white;
  border-radius: 18px;
}

.unique-card-title {
  color: aqua;
  font-size: 26px;
  font-weight: bold;
}

.unique-card-related {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition effect for smooth hover */
}

.unique-card-related:hover {
  transform: translateY(-10px); /* Move the card slightly up on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
}
.unique-card-img-top {
 
  border-top-right-radius: 102px;
  border-bottom-left-radius: 102px;
}
.hero-text h1{
  font-size: 4.5rem;
    font-weight: bold;
  }
  .col-md-6 {
    
    margin-top: 8px;
  }
  
  