.school-achievements {
  text-align: center;
  padding: 1rem;
  /*background-color: rgb(128, 217, 233);*/
  background-color: rgb(177, 210, 212);
}

.achievements-container {
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.achievement-card {
  width: 300px;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.2s ease-in-out, transform 0.3s ease-in-out;
  height: 20vh;
  transform: translateY(20px);
}


.achievement-card.animate {
  animation: fadeInUp 0.2s ease-in-out forwards;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5rem;

}

.card-content {
  padding: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

}

.card-image {
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.school-achievements h2 {
  font-size: 35px;
  text-align: center;
  font-size: 2.5rem;
  color: black;
}

.achievement-card .card-header h3 {
  font-size: 1.5rem;
}

.card-content {
  padding: 1rem;
  background-color: rgba(255, 192, 203, 0.574);
}

.achievement-card:hover .card-image img {
  transform: scale(0.9);
}

.card-header:hover .card-content {
  display: block;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .achievement-card {
    width: 80%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .achievement-card {
    width: 90%;
  }

  .card-header h3 {
    font-size: 1rem;
  }

  .card-content p {
    font-size: 0.9rem;
  }
}