/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 21, 69);
    min-height: 800px;
} */

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 992px) {
    .container {
        padding: 25px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 15px;
    }
}

.container .card {
    width: calc((100% - 80px) / 3);
    height: 225px;
    background-color: #fff;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(15, 20, 111, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    margin-top: 80px;
}

.container .card:hover {
    height: 380px;
}

@media (max-width: 992px) {
    .container .card {
        height: 200px;
    }
}

@media (max-width: 800px) {
    .container .card {
        width: calc((100% - 60px) / 2);
    }

    .container .card:hover {
        margin-top: 3px;
        height: 400px;
    }
}

@media (max-width: 576px) {
    .container .card {
        width: calc(100% - 40px);
    }

    .container .card:hover {
        gap: 20px;
        margin-top: 3px;
        height: 380px;
    }
}


.container .card .image {
    position: relative;
    width: 100%;
    height: auto;
    top: 5%;
    left: 1px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .card .image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.container .card {
    position: relative;
    z-index: 1;
}

.container .card .content {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container .card:hover .content {
    visibility: visible;
    background-color: #ffffff9d;
    opacity: 1;
    transition-delay: 0.2s;
    z-index: 1;
}

.read-more-btn {
    background-color: #e14c23;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
}

.read-more-btn:hover {
    background-color: hsl(243, 66%, 35%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.read-more-btn:active {
    background-color: #6c093b;
}

h3 {
    color: #811c4e;
}