.footer {
    position: relative;
    bottom: 0;
    background-color: #000080;
}


.container {
    padding: 5px;
}

.row {
    margin-bottom: 25px;
}

.img {
    margin-top: 20px;
    animation: img 0.5s ease forwards;
}

@keyframes img {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotateY(0deg) rotateX(120deg) rotateZ(180deg);
    }

    50% {
        opacity: 0.5;
        transform: translateX(-50%) rotateY(180deg) rotateX(60deg) rotateZ(90deg);
        /* width: 150%;
        z-index: 999; */
    }

    100% {
        opacity: 1;
        transform: translateX(0%) rotateY(360deg) rotateX(0deg) rotateZ(0deg);
    }
}

.img {
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}

.name-heading {
    font-weight: 700;
    /* font-size: 3.2em; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.icons {

    animation: icon 0.5s ease-in forwards;
}

@keyframes icon {
    0% {
        opacity: 0;
        /* transform:  */
    }

    100% {
        opacity: 1;
        /* transform: ; */
    }
}

.icons a {
    margin-right: 2px;
    margin-left: 2px;
}

.col2-links {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-top: 230px; */
}

.col2-links p {
    margin-top: 8px;
    margin-bottom: -10px;
    font-weight: 500;

}

.col2-links p a {
    color: #dad5d5;
}

.head {
    font-weight: 800;
    color: #FFFFFF;
    /* padding-top: 10px; */
    margin-bottom: -5px;

}

.head2 {
    font-weight: 800;
    padding-top: 10px;
    margin-bottom: -5px;
}

.col3-links p {
    margin-top: 8px;
    margin-bottom: -10px;
    font-weight: 450;
}

.col3-links p a {
    /* color: #EFEFEF; */
    color: #dad5d5;
    font-weight: 500;

}

strong {
    color: #FFFFFF;
}

.col3-1 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.line {
    /* width: 100%; */
    font-weight: 600;
}

.address {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .icons {
        flex-wrap: wrap;
    }

    .icons a {
        margin: 5px;
    }

    .col-md-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}