@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


.student-card {
    background-color: transparent;
    border: none;
    transition: transform 1s ease-in-out;
    position: relative;
    width: 250px !important;
    overflow: hidden;
}

.student-card:hover {
    transform: scale(2.05);
}

.student-details {
    position: absolute;
    padding: 3em;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.student-card:hover .student-details {
    opacity: 1;
}

.student-details {
    background-color: black;
    color: white;
    padding: 1rem;
    transition: all 2s ease-in-out;
}

.student-details:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.student-details.animate__animated.animate__fadeInUp {
    animation: fadeInUp 0.5s ease-in-out;
}

.student-details h5 {
    margin-bottom: 0.5rem;
}

.student-details p {
    margin-bottom: 0;
}

.hero-section {
    padding: 0%;
    margin: 0%;
    width: 98.9vw;
    height: 80vh;
    position: relative;
    background-image: url('https://damassets.autodesk.net/content/dam/autodesk/www/industry/3d-animation/create-beautiful-3d-animations-thumb-1204x677.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

p {
    margin: 20px;
    overflow: hidden;
    animation: fadeIn 4s forwards;
    font-size: 1.3rem;
}

@media screen and (max-width:576px) {

    p{
        font-size: small;
    }
    .home{
        overflow-x: hidden;
        width: 100%;
        background-color: rgb(177, 177, 247);

    }
    .card:hover{
        transform: scale(1.55);
       
    }
}

@keyframes fadeIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


.hero-section img {
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;

}

.card {
    margin-left: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: #fff;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 18px;
    color: #000;
}

.card-text:hover {
    font-size: 18px;
  
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.card:hover.card-1 {
    background-color: #e984b7;
}

.card:hover.card-2 {
    background-color: #82cfff;
}

.card:hover.card-3 {
    background-color: #fbda1f;
}

.card:hover.card-4 {
    background-color: #e158cd;
}

.card:hover.card-5 {
    background-color: #7de8d1;
}

.card-container {
    justify-content: center;
}

.card {
    margin-left: 0;
    margin-bottom: 20px;
    
}





.features {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 98.8vw;
}

@media (max-width: 768px) {
    .features {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .features {
        grid-template-columns: 1fr;
    }
    .student-card{
        text-align: center !important;
        margin: auto !important;
    }


}

.rounded {
    border-radius: 10px;
    background-color: #9400d3;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1.2);
    transition: all 0.3s ease;
}

.rounded:hover {
    background-color: #b5a58c;
    color: rgb(48, 75, 48);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1.4);
    transform: scale(1.1);
}